<%= form_for(@fitnessclass) do |f| %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :level %>
    <%= f.text_field :level %>
  </p>

  <p>
    <%= f.label :startdate %>
    <%= f.datetime_select :startdate %>
  </p>

  <p>
    <%= f.label :enddate %>
    <%= f.datetime_select :enddate %>
  </p>

  <%= f.submit %>

<% end %>
